* {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Verdana, sans-serif;
  margin: 0;
}
header {
  display: flex;
  height: 60px;
  width: 100%;
  background-color: rgb(192, 214, 255);
  color: black;
  align-items: center;
  font-size: 1.3em;
}
header span {
  padding: 0 20px;
}
.header-botao {
  display: flex;
  align-items: center;
}
img,
.sem-imagem {
  width: 95%;
  height: 350px;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
.card {
  width: 250px;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-weight: bold;
  background-color: #f5f5f5;
}
.card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-text {
  cursor: pointer;
}
.card-button {
  font-weight: bold;
  background-color: black;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}
.card-container {
  display: flex;
  flex-wrap: wrap;
}
input {
  height: 24px;
  border: 1px solid black;
  font-size: 15px;
  border-radius: 2px;
}
select {
  height: 28px;
  border: 1px solid black;
  font-size: 15px;
  border-radius: 2px;
}
label {
  font-size: 18px;
  cursor: pointer;
  text-align: center;
}
button {
  height: 28px;
}
.descricao,
.estoque,
.preco,
.categoria,
.cor,
.marca,
.tamanho {
  display: flex;
  flex-direction: column;
  width: 12%;
  margin: 0 10px;
}
.form {
  display: flex;
  margin: 25px 0;
}
.cliente-card-container {
  display: flex;
  flex-wrap: wrap;
}
.cliente-card-content {
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.cliente-card {
  width: 100px;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-weight: bold;
  background-color: #f5f5f5;
}
.cadastro-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
  margin: 100px 0;
}

.cadastro-content {
  width: 350px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
}

input[type="text"],
input[type="senha"],
input[type="email"],
input[type="tel"] {
  padding: 5px;
  margin-bottom: 10px;
}

.div-cadastro {
  display: flex;
  justify-content: center;
}

.botao-cadastro {
  width: 90px;
  height: 35px;
}